body {
    background-image: url("https://img.freepik.com/fotos-gratis/casa-fotorrealista-com-arquitetura-de-madeira-e-estrutura-de-madeira_23-2151302709.jpg?t=st=1727390056~exp=1727393656~hmac=ba083b6554163e53d9fc6eff1a9c2938f04b51290907df95daa1b183163ac191&w=1060");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
